<div class="row">
    <div class="col-6">
        <h3>Caras</h3>
        <p><%- detalle.caras %></p>
    </div>
    <div class="col-6">
        <h3>Color</h3>
        <p><%- detalle.color </p>
    </div>
</div>