            <p>modelo: <%- detalle.modelo %></p>
            <p>color: <%- detalle.colores.color %></p>
            <p>Edición: <%- detalle.ediciones.dataValues.anio %> - <%- detalle.ediciones.dataValues.nombre %></p>