<nav class="">
  <div class="header">
    <img id="user" src="/img/user.svg" alt="user">
  </div>
  <div>
    <form action="" method="">
      <input type="search" placeholder="Search...">
      <button>Search</button>
	  </form>
  </div>
</nav>