<div class="box-index">
    <a href="/product/<%= product.id %>"><img id="img-product-index" src="/img/product/<%= product.url %>" alt="product"></a>
    <h2>$<%- product.precio %></h2>
    <h4><%- product.nombre %> </h4>
    <button type="button" class="btn btn-success btn-rounded">Add to cart <i class="fa fa-shopping-cart"></i></button>
</div>