<div class="box-index">
    <a href="/producto/id"><img id="img-product-index" src="/img/ragingGoblin.jpeg" alt="product"></a>
    <h2>price</h2>
    <h4>name</h4>
    <button type="button" class="btn btn-success btn-rounded">Add to cart <i class="fa fa-shopping-cart"></i></button>
</div>