<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <header class="">
        <!-- Searchbar -->
        <%- include("partials/header2") %>
        <!-- ProductCart toggler -->
        <%- include("partials/headerCart") %>
    </header>

    <footer>
        <%- include("partials/footer") %>
        </footer>
</body>

</html>