<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <!-- <link rel="stylesheet" href="/stylesheets/cart.css" /> -->
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
  <header>
    <%- include("partials/header") %>
  </header>
  <main>
    <div>
      <h1>MAGEEK!!</h1>
      <h2>TU GEEK STORE</h2>
    </div>
  </main>

  <nav></nav>

  <footer><%- include("partials/footer") %></footer>
</body>

</html>