!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <script src="/js/login.js"></script>

</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <div class="signup-form">
            <form action="/user/login" id="form" method="post">
                <h2 id="h2">Log in</h2>
                <p class="hint-text">Conectate con tus red favorita!</p>
                <div class="social-btn text-center">
                    <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
                    <!--<a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a-->
                    <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
                </div>
                <div id="separator" class="or-seperator"><b>or</b></div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="logInfo" id="logInfo" placeholder="Username"
                        required="required">
                </div>
                <div id="campoContraseña" class="form-group">
                    <input type="password" class="form-control input-lg" name="password" id="password"
                        placeholder="Password" required="required">
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="remember" id="defaultChecked2"
                        value="remember" checked>
                    <label class="custom-control-label" for="defaultChecked2">NO ME OLVIDES!!!!!</label>
                </div>
                <div class="form-group">
                    <button type="submit" id="submitBtn" class="btn btn-success btn-lg btn-block signup-btn">Login</button>
                </div>
            </form>
            <div class="text-center">Sos nuevo?<a href="/user/register">Empezá acá!</a></div>
        </div>
    </main>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>