/*productos*/

.products-box{
    background-color: #FFFFFF;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-index{
    flex-grow: 1;
    margin: 2%;
    margin-top: 4%;
    width: 20%;
    justify-content: center;
}