.sidenav{
    background-color: lightyellow;
    width: 100%;
}
.list-menu{
    list-style: none;
}
.list-types {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-body {
  flex-wrap: wrap;
}