#img-userA{
   height: 200px;
}
div.dropdown {
   margin-top: 7px;
}
#user-delete-btn {
   margin-top: 7px;
}
#user-edit-btn {
   margin-top: 7px;
}
.main-userA{
   border: #28A745 3px solid;
   border-radius: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: #D3D3D3;
}
.div-img-userA{
   margin: 20px;
   padding: 5px;
}
.detail-important{
   margin-top: 40px;
}
@media (min-width: 992px){
   .div-img-userA{
   padding-left: 75px;
}

}
@media (max-width: 576px){
   .main-userA{
        border: none;
        border-bottom: 3px solid #28A745;
        border-radius: 0px;
        margin-top: 0px;
   }
   .detail-important{
        margin-bottom: 20px;
}
   .secondary-description{
        border: none;
        background-color: #dfe7e9;
        border-radius: 0px;
        padding-top: 5px;
}
}
/*   <%= user.url %>
        <a href="/user/edit/<%= user.id %>">
            <button class="btn btn-success">Editar usuario</button></a>
        <% if (userLoggedStatus === 2) { %>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Añadir productos
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/product/add/1">Blisters</a>
                <a class="dropdown-item" href="/product/add/2">Cartas</a>
                <a class="dropdown-item" href="/product/add/3">Dados</a>
                <a class="dropdown-item" href="/product/add/4">Folios</a>
                <a class="dropdown-item" href="/product/add/5">Packs</a>
            </div>
        </div>
        <% } %>



        <a href="/user/delete/<%= user.id %>">
            <button class="btn btn-danger">Borrar usuario</button></a>

